.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;

    & header {
        background-color: #222838;
        height: 260px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        color: white;



    }


    &__clients {
        background-color: #f1f0f5;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;


        & article {
            width: 90%;
            background-color: #ffffff;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -90px;
            padding: 20px;
            gap: 40px;
            overflow-y: auto;

        }

        &__search {
            border: 1px solid gray;
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 30px;
            color: gray;
            width: 90%;
            padding: 10px;
            gap: 10px;

            & input {
                border: none;
                width: 80%;
                outline: none;
                height: 100%;
                font-size: 16px;
            }
        }

        &__details {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            & figure {
                border-bottom: 1px solid gray;
                padding: 20px 10px;
                display: flex;
                gap: 10px;

                & img {
                    background-color: gray;
                    border-radius: 50%;
                    height: 70px;
                    object-fit: cover;
                    padding: 5px;
                }

                & figcaption {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    & section {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        justify-content: center;

                        & span {
                            font-size: 12px;
                        }

                        & div {
                            display: flex;
                            gap: 10px;
                            justify-content: end;

                            & button {
                                height: 40px;
                                width: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                                cursor: pointer;
                                font-size: 30px;
                                border: none;
                                border-radius: 5px;

                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }
            }

            &__modal {

                & form,
                label {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                    & label {
                        font-weight: bold;
                        gap: 5px;

                        & input {
                            height: 30px;
                            outline: none;
                            border-radius: 5px;
                            padding: 5px;
                            border: 1px solid gray;
                        }
                    }

                }
            }



        }
    }
}

.addClient {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
}

.create {
    width: 100%;
    height: 100%;
    background-color: #f1f0f5;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__form {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 500px;
        margin-top: -90px;
        padding: 5%;
        background-color: white;
        gap: 20px;

        & label {
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: 14px;
            gap: 10px;

            & input {
                height: 40px;
                outline: none;
                border-radius: 5px;
                padding: 10px;
                border: 1px solid gray;
            }

            & span {
                color: red;
                font-size: 12px;
                font-weight: 400;
            }

        }

        &__sec1 {
            display: grid;
            grid-template-columns: 60% 30%;
            width: 100%;
            justify-content: space-between;

        }

        &__sec2 {
            display: grid;
            grid-template-columns: 30% 60%;
            border-bottom: 1px solid gray;
            height: 150px;
            width: 100%;
            justify-content: space-between;



        }

        &__btns {
            height: 60px;
            display: flex;
            justify-content: end;
            gap: 20px;
            align-items: center;

            & button,
            small {
                height: 40px;
                width: 140px;
                cursor: pointer;
                border: none;
                color: white;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 0.8;
                }

            }
        }
    }
}

.buttonModal {
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #1677ff;
    color: white;
    border-radius: 5px;
    width: 50%;
    align-self: center;
    font-size: 14px;

    &:hover {
        opacity: 0.8;
    }
}

@media (max-width:710px) {

    .list {

        & h1 {
            font-size: 18px;
        }

        &__clients__details figure {
            flex-direction: column;
            align-items: center;

            & img {
                width: 70px;
            }

            & figcaption {
                flex-direction: column;
                gap: 10px;

            }

        }
    }

    .create__form {
        height: 70%;

        &__sec1,
        &__sec2 {
            display: flex;
            flex-direction: column;
            gap: 10px;

        }

        &__sec2 {
            height: 300px;
            justify-content: start;

        }



    }

}